---
import { site } from '../data/site';
---

<div class="button-row">
  <a class="button primary" href={site.appStore.googlePlay}>Google Play</a>
  <a class="button secondary" href={site.appStore.fdroid}>F-Droid</a>
  <a class="button" href={site.appStore.github}>Source code</a>
</div>
